@model PurchaseProductFormModel

<div class="form-row">

    <div class="form-group col-md-6">
        <label asp-for="Pieces">Count</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group col-md-6">
        <label asp-for="Cubic">Quantity</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group col-md-6">
        <label asp-for="PurchasePrice">Price</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group col-md-6">
        <label asp-for="TransportCost">TransportCost</label>
        <input type="text" class="form-control" id="inputCity">
    </div>
    <div class="form-group col-md-6">
        <label asp-for="TerminalCharges">Terminal Charges</label>
        <input type="text" class="form-control">
    </div>
    <div class="form-group col-md-6">
        <label asp-for="Duty">Duty</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group col-md-6">
        <label asp-for="CustomsExpenses">Customs Expenses</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group col-md-6">
        <label asp-for="BankExpenses">Bank Expenses</label>
        <input type="text" class="form-control">
    </div>

</div>