
@model PurchaseFormModel


<a href="~/Suppliers/AddSupplier" class="btn btn-primary mb-3 mt-3">Add Supplier</a>
<form enctype="multipart/form-data" method="post">
    <div class="form-group col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <label asp-for="SupplierId">Supplier</label>
        <select asp-for="SupplierId" >
            <option value="">Choose Supplier</option>
            @foreach (var supplier in Model.Suppliers)
            {
                <option value="@supplier.Id">@supplier.Name</option>
            }
        </select>
        
        
    </div>
    <div class="form-group col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <label asp-for="InvoiceNumber">Invoice Number</label>
        <input asp-for="InvoiceNumber" type="text" class="form-control" placeholder="Invoice number">
    </div>
    <div class="form-group col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <label asp-for="Date">Date</label>
        <input asp-for="Date" type="text" class="form-control" placeholder="Date">
    </div>

    
  <partial name="_ProductPurchaseView" model="Model.PurchaseProductFormModel" />
    @*@await Html.PartialAsync("_ProductPurchaseView.cshtml")*@
    <!--</div>-->

    

</form>
